html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', "Comic Sans MS", Arial;
    color: aliceblue;
}

#parentGame {
    width: 100%;
    height: 100%;
    touch-action: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#login {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
}

#revive {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 40%;
}

.btn {
    background-color: #3f51b5;
    padding: 10px;
    cursor: pointer;
}

.show{
    z-index: 100;
    display: block;
    visibility: visible;
}

.hide{
    display: none;
    visibility: hidden;
    pointer-events: none;
    z-index: -100;
}

#logo {
    margin: 10%;
    color: #3f51b5;
}
.inputName {
    margin-top: 50px;
    background-color: rgba(0, 0, 255, 0.1);
}

.background{
    z-index: -100;
    pointer-events: none;
}
.game{
    z-index: 100;
}
.scoreContainer {
    background: rgba(0.7, 0.7, 0.7, 0.4);
    overflow: hidden;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    position: fixed;
    margin: 5px;
    pointer-events: none;
}
.playerSlot {
    border: aliceblue solid 1px;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.playerName{
    padding: 5px;
    margin-right: 10px;
}
.playerScore{
    padding: 5px;
    display: inline-block;
}